* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Courier New", Courier, monospace;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

ul li {
  list-style: none;
}

button,
input,
textarea,
a {
  outline: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

button,
a,
label,
select,
option {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.text {
  font-size: 16px;
}

.text.normal-1 {
  background-color: white;
  color: Black;
}

.text.normal-2 {
  background-color: Black;
  color: white;
}

.text.danger-1 {
  background-color: white;
  color: red;
}

.text.danger-2 {
  background-color: red;
  color: Black;
}

.text.warning-1 {
  background-color: white;
  color: #ecd656;
}

.text.danger-2 {
  background-color: #ecd656;
  color: Black;
}

.text.nice-1 {
  background-color: white;
  color: green;
}

.text.nice-2 {
  background-color: green;
  color: Black;
}

.text.info-1 {
  background-color: white;
  color: #00b7ff;
}

.text.info-2 {
  background-color: #00b7ff;
  color: Black;
}

.text.disabled-1 {
  background-color: white;
  color: grey;
}

.text.disabled-2 {
  background-color: grey;
  color: Black;
}

.text.disabled-1 {
  background-color: white;
  color: grey;
}

.text.disabled-2 {
  background-color: grey;
  color: Black;
}

.btn {
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
}

.btn.normal-1 {
  border: 1px solid Black;
  background-color: white;
  color: Black;
}

.btn.normal-2 {
  border: 1px solid white;
  background-color: Black;
  color: white;
}

.btn.danger-1 {
  border: 1px solid red;
  background-color: white;
  color: red;
}

.btn.danger-2 {
  border: 1px solid red;
  background-color: black;
  color: red;
}

.btn.danger-3 {
  border: 1px solid white;
  background-color: red;
  color: white;
}

.btn.danger-4 {
  border: 1px solid black;
  background-color: red;
  color: black;
}

.btn.warning-1 {
  border: 1px solid #ecd656;
  background-color: white;
  color: #ecd656;
}

.btn.warning-2 {
  border: 1px solid #ecd656;
  background-color: black;
  color: #ecd656;
}

.btn.warning-3 {
  border: 1px solid white;
  background-color: #ecd656;
  color: white;
}

.btn.warning-4 {
  border: 1px solid black;
  background-color: #ecd656;
  color: black;
}

.btn.nice-1 {
  border: 1px solid green;
  background-color: white;
  color: green;
}

.btn.nice-2 {
  border: 1px solid green;
  background-color: black;
  color: green;
}

.btn.nice-3 {
  border: 1px solid white;
  background-color: green;
  color: white;
}

.btn.nice-4 {
  border: 1px solid black;
  background-color: green;
  color: black;
}

.btn.info-1 {
  border: 1px solid #00b7ff;
  background-color: white;
  color: #00b7ff;
}

.btn.info-2 {
  border: 1px solid #00b7ff;
  background-color: black;
  color: #00b7ff;
}

.btn.info-3 {
  border: 1px solid white;
  background-color: #00b7ff;
  color: white;
}

.btn.info-4 {
  border: 1px solid black;
  background-color: #00b7ff;
  color: black;
}

.btn.disabled-1 {
  border: 1px solid grey;
  background-color: white;
  color: grey;
  opacity: 0.9;
}

.btn.disabled-2 {
  border: 1px solid grey;
  background-color: black;
  color: grey;
  opacity: 0.9;
}

.btn.disabled-3 {
  border: 1px solid white;
  background-color: grey;
  color: white;
  opacity: 0.9;
}

.btn.disabled-4 {
  border: 1px solid black;
  background-color: grey;
  color: black;
  opacity: 0.8;
}
